<%= cl_image_tag("qn0zzxhyv5at9yeklzxq",
      width: 200, height: 200, crop: :thumb, gravity: :face) %>
<ul>
  <% @cocktails.each do |cocktail|  %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end  %>
</ul>

